.card{
    position: relative;
    overflow: hidden;
}
.card::before{
    position: absolute;
    content: '';
    width: 80%;
    height: 220%;
    background: rgba(72, 139, 32, 0.7);
    top: -40%;
    left: -100%;
    z-index: 1;
    transform: rotate(20deg);
    transform-origin: center top 0;
    transition: .5s;
}
.card:hover::before{
    left: 25%;
}

.card-text{
   text-align: center;
    width: 100%;
    padding 0 20px;
    position: absolute;
    top: -100%;
    color: #fff;
    z-index: 2;
    transition: 1.1s;
}
.card-text h3{
    font-family: fantasy;
}
.card:hover .card-text{
    top: 82px;
}